body{
    background-image: url("../images/fondo/fondo8.jpg");
    background-size:auto;
}
.boton {
    border: 1px solid #660233;
    padding: 10px;
    background-color: #660233;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

.boton1 {
    text-align: center;
    border: 1px solid #660233;
    padding: 10px;
    background-color: #660233;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background: #660233;
}

h2 {
    padding: 2em 3px 5px 5px;
    font-family: 'Lora', serif;
    color: #ffffff;
}

p {
    font-family: 'Lora', serif;
    padding: 10px 10px;
    color: #ffffff;

}

#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;
    color: #ffffff;
}