#cabecera {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background: #000000;
    font-family: 'Lora', serif;
}

body {
    background-image: url("../images/fondo/fondo5.jpg");
    background-size: cover;
}

#contenedor {
    display: table;
    width: auto;
    text-align: center;
    margin: 0 auto;
    padding: 90px;
}

#contenidos1, #contenidos2 {
    display: table-row;
}

#OP1 {
    font-size: 25px;
    display: table-cell;
    border: 5px solid #ffffff;
    vertical-align: middle;
    padding: 100px;
    background: #660133;
    font-family: 'Lora', serif;
}

#OP2 {
    font-size: 25px;
    display: table-cell;
    border: 5px solid #ffffff;
    vertical-align: middle;
    padding: 100px;
    background: #004c98;
    font-family: 'Lora', serif;
}

#OP3 {
    font-size: 25px;
    display: table-cell;
    border: 5px solid #ffffff;
    vertical-align: middle;
    padding: 100px;
    background: #666666;
    font-family: 'Lora', serif;
}

#OP4 {

    font-size: 25px;
    display: table-cell;
    border: 5px solid #ffffff;
    vertical-align: middle;
    padding: 100px;
    background: #006666;
    font-family: 'Lora', serif;
}

a:hover {
    font-weight: bold;
}

a:link, a:visited {
    color: #ffffff;
}

#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;
    color: #ffffff;
    font-family: 'Lora', serif;
}