.boton {
    border: 1px solid #006666;
    padding: 10px;
    background-color: #006666;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

h1{
    text-align: center;
}
p {
    padding: 10px 10px;

}
#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;


}