.boton  {
    border: 1px solid #006666;
    padding: 10px;
    background-color: #006666;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}