.boton  {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
h1{
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background: #004c98;
}
#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;
}
#form1{
    padding: 20px;
}
#button_buscar{
padding: 20px;
}

