.boton5 {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
.boton6 {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
h1{
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background: #004c98;
}
.centrarimg3{

    display:flex;
    margin: auto;
}
#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;


}