.boton {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background: #004c98;
    font-family: 'Lora', serif;
}

h2 {
    padding: 2em 3px 5px 5px;
    font-family: 'Lora', serif;
}

p {
    font-family: 'Lora', serif;
    padding: 10px 10px;
}

h4 {
    padding: 1em 3px 5px 5px;
    font-family: 'Lora', serif;
}

.centrarimg {
    display: flex;
    margin: auto;
}

#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;
}