body{
    background-image: url("/images/fondo/fondo.jpg");
}
.boton {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #004c98;
}

h2 {
    padding: 2em 3px 5px 5px;
    font-family: 'Lora', serif;
}

label {
    font-family: 'Lora', serif;
}


.link1, .link2, .link3, .link4, .link5, .link6, .link7, .link8, .link9 {
    display: table;
    text-align: left;
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;

}

#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;
    color: #ffffff;
}

#form1 {
    padding: 20px;
}

#button_buscar {
    padding: 20px;

}

