.boton1 {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
.boton2 {
    border: 1px solid #004c98;
    padding: 10px;
    background-color: #004c98;
    color: #ffffff;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
}
#pie {
    min-height: 70px;
    text-align: center;
    width: 100%;
    position: relative;


}